@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;1,300&family=Pirata+One&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css');

@font-face{
    font-family: "Labrador";
    src: url("labrador.ttf");
}

:root{
    --font-primary: "Pirata One", serif;
    --font-secundary: "Helvietica Neue", serif;
    --color-black: #000000;
    --color-gray: #808080;
    --color-red: #ff0000;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    height: 100%;
    position: relative;
    
}

.content{
    width: 100%;
    height: 5rem;
    top: 0;
}

header{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    
}
.menu{
    background-color: var(--color-black);
    margin: 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
}

.logo{
    background-color: var(--color-red);
    height: 3.5rem;
    width: 10rem;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    font-family: var(--font-primary);
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-align: center;
}

.logo a{
    color: var(--color-black);
}

.search{ 
    width: 30%;
    height: 40%;
    margin-right: 1.5rem;
    position: relative;
}
.search input{
    width: 90%;
    height: 100%;
    border: none;
    border-radius: 2rem;
    outline: none;
    font-weight: lighter;
    font-family: var(--font-secundary);
    font-size: 1rem;
    padding: 1rem;
    color:#4f4f4f;
    opacity: 0.4;
}

.search a{
    font-size: 1.3rem;
    align-items: center;
    color: var(--color-black);
    position: absolute;
    right: 3.6rem;
    top: 0.31rem;
    transition: all 2s;
}
.search i:hover{
    color: #363636;
    font-size: 1.5rem;
}

.options-menu ul{
    display: flex;
    justify-content: space-between;
}

.sub-menu-links{
    margin-right: 1.5rem;
    color: #FFF;
    font-family: "Labrador";
    transition: color 1s;
}
.options-menu a:hover{
    color: #4F4F4F99;
}

.sidebar{
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 5rem;
    left: -20rem;
    background-color: var(--color-black);
    z-index: 150;
    display: none;
    transition: all 150ms;
}
.show-menu .sidebar{
    left: 0;
}

.sidebar li{
   margin-top: 10px;
   transition: border 1s;
}

.sidebar a{
    margin: 0;
    color: var(--color-gray);
    font-size: 1.1rem;
    font-family: var(--font-secundary);
    text-shadow: .1rem .1rem 2px #80808040;
    padding-left: 1rem;
    transition: color 1s;
}
.sidebar a:hover{
    color: #4f4f4f;
}

.sidebar li:hover{
    border-left: 2px solid var(--color-red);
}
.sidebar li:active{
    border-left: 5px solid var(--color-red);
}
.bars{
    display: none;
}

.section-genre{
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
    position: relative;
}
.card-title{
    color: var(--color-gray);
    font-family: var(--font-primary);
    font-size: 2rem;
    width: 10rem;
    height: 3rem;
    position: absolute;
    text-shadow: .2rem .1rem 2px rgba(0, 0, 0, 0.4);
    top: 3rem;
    left: 8rem;
}
.card-genre{
    width: 80%;
    height: 92%;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    margin-top: 11rem;
}
.card{
    width: 23%;
    height: 84%;
    border-radius: 20px;
    box-shadow: .2rem .2rem 1px rgba(0, 0, 0, 0.4);
}

.card-wraper{
    width: 100%;
    height: 65%;  
    border-radius: 20px 20px 0px 0px; 
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card-wraper i{
    font-size: 6rem;
    color: #fff;
    visibility: hidden;
    transition: all 150ml;
}

.card-wraper:hover i{
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}
.card-wraper:hover{
    opacity: 0.3;
    cursor: pointer;
}

#card-comedy-friends{
    background-image: url("imagens/card-comedy-friends.jpg");
    background-size: cover;
}

#card-comedy-brooklyn-nine-nine{
    background-image: url("imagens/card-comedy-brooklyn-nine-nine.jpg");
    background-size: cover;
}
#card-comedy-how-i-met-your-mother{
    background-image: url("imagens/card-comedy-how-i-met-yout-mother.jpg");
    background-size: cover;
}
#card-comedy-the-big-bang-theory{
    background-image: url("imagens/card-comedy-the-big-bang-theory.jpg");
    background-size: cover;
}
#card-super-hero-the-flash{
    background-image: url("imagens/card-super-hero-the-flash.jpg");
    background-size: cover;
}
#card-super-hero-arrow{
    background-image: url("imagens/card-super-hero-arrow.jpg");
    background-size: cover;
}
#card-super-hero-super-girl{
    background-image: url("imagens/card-super-hero-super-girl.jpg");
    background-size: cover;
}
#card-super-hero-dcs-legends-os-tomorrow{
    background-image: url("imagens/card-super-hero-dcs-legends-of-tomorrow.jpg");
    background-size: cover;
}
.card-info{
    width: 100%;
    height: 35%;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--color-black);
    position: relative;
}

.card-info p{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    color: var(--color-gray);
}
.note{
    padding-top: 1rem;
}
.note i{
    color: #ffff00;
} 
.details i{
    color: var(--color-black);
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.name{
    font-weight: bold;
    font-size: 1.2rem;
}

.card-info button{
    border-radius: 5px;
    background-color: var(--color-red);
    color: var(--color-black);
    font-family: var(--font-primary);
    text-align: center;
    font-size: 1.5rem;
    border: none;
    width: 60%;
    height: 1.5rem;
    margin-left: 2rem;
    line-height: 1.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    outline: none;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    transition: all 1s;
}
.card-info button:hover{
    opacity: 0.5;
}
.last-class{
    padding-bottom: 5rem;
}
footer{
    background-color: var(--color-black);
    height: 25vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-content{
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
}

.footer-content p{
    color: #a1a1a1;
    font-size: 1rem;
    font-family: var(--font-secundary);
    opacity: 0.8;
}

.social-media ul{
    display: flex;
    margin-right: 50px;
}
.social-media a{
    margin: 15px;
    font-size: 2rem;
    color: var(--color-gray);
    transition: all 1s;
}
.social-media a:hover{
    opacity: 0.5;
}
.list-genre{
    max-height: 100px;
    width: 350px;
}
.list-genre a{
    color: var(--color-gray);
    width: 85px;
    display: inline-block;
    font-family: var(--font-secundary);
}
.list-genre a:hover{
    text-decoration: underline;
}
.list-genre li{
    display: inline-block;
}
.opacity{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.7; 
    background-color: var(--color-black);
    display: none;
}

.show-menu-friends .opacity{
    display: block;
}

.show-menu-brooklyn .opacity{
    display: block;
}
.show-menu-the-flash .opacity{
    display: block;
}
.show-menu-arrow .opacity{
    display: block;
}
.screen-friends{
    height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 200;
    margin-top: 30px;
    opacity: 1;
    border: none;
    box-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    display: none;
}
.screen-brooklyn{
    height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 200;
    margin-top: 30px;
    opacity: 1;
    border: none;
    box-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    display: none;
}
.screen-the-flash{
    height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 200;
    margin-top: 30px;
    opacity: 1;
    border: none;
    box-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    display: none;
}
.screen-arrow{
    height: 100vh;
    width: 60%;
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 200;
    margin-top: 30px;
    opacity: 1;
    border: none;
    box-shadow: .2rem .2rem 2px rgba(0, 0, 0, 0.4);
    display: none;
}
.show-menu-friends .screen-friends{
    display: block;
}
.show-menu-brooklyn .screen-brooklyn{
    display: block;
}
.show-menu-the-flash .screen-the-flash{
    display: block;
}
.show-menu-arrow .screen-arrow{
    display: block;
}
.post{
    width: 100%;
    height: 60%;
    position: relative;
}
.post img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.gradients{
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #1c1c1c, transparent 50%);
}

.description{
    background-color: #1c1c1c;
    height: 33%;
    width: 100%;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: space-between;
    color: #c1c1c1;
    font-size: 1.1rem;
    font-family: var(--font-secundary);
    text-align: justify;
    text-shadow: 0.2rem 0.2rem 1px rgba(0, 0, 0, 0.4);
    position: relative;
}
.maturity-rating{
    width:20px;
    height:20px;
}
.summary{
    max-width: 50%;
    padding: 2rem 0 0 2rem;
}
.summary p{
    margin-bottom: 15px;
}
.description-info{
    max-width: 30%;
    padding: 2rem 2rem 0 0;
}
.description-info span{
    opacity: .2;
}
.close i{
    z-index: 201;
    position: absolute;
    top: 0;
    right: 0;
    color: #cacaca;
    font-size: 30px;
    margin:10px 15px 0 0;
    cursor: pointer;
}
.close i:hover{
    color:var(--color-black);
    opacity: 0.7;
}

@media screen and (max-width: 829px){
    header{
        position: relative;
    }
    .search{
        position: absolute;
        top: 90px;
        width: 37%;
        right: 0;
        margin: 0;
    }
    .search a{
        right: 2.6rem;
    }
    .bars{
        display: none;
    }
    .sidebar{
        display: none;
    }
    .card-info{
        height: 48%;
    }
    .card-genre{
        width: 95%;
        height: 84%;
        margin-top: 5rem;
    }
    .section-genre{
        height: 85vh;
    }
    .card-info button{
        margin-left: 1rem;
        width: 73%;
    }
    .card{
        margin-top: px;
    }
    .card-title{
        left: 1rem;
        top: 0.5rem;
    }
    .last-class{
        padding-bottom: 50px;
    }
    .footer-content{
        margin-left: 25px;
    }
    .footer-content p{
        font-size: 12px;
    }
    .list-genre{
        width: 263px;
    }
    .list-genre a{
        font-size: 12px;
    }
    .social-media ul{
        margin-right: 15px;
    }
    .social-media a{
        font-size: 1.3rem;
        margin: 10px;
    }
    .card-info button{
        font-size: 1.3rem;
    }
    .description{
        overflow: auto;
        display: inline-block;
    }
    .summary{
        max-width: 100%;
        padding: 1rem 1rem 0 1rem;
    }
    .description-info{
        max-width: 100%;
        padding: 1rem;
    }
    .screen-friends{
        width: 73%;
        left: 13%;
    }
    .screen-brooklyn{
        width: 73%;
        left: 13%;
    }
    .screen-the-flash{
        width: 73%;
        left: 13%;
    }
    .screen-arrow{
        width: 73%;
        left: 13%;
    }
    
}

@media screen and (max-width: 553px){
    .header{
        position: relative;
    }

    .menu{
        display: block;
    }

    .bars{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: 1.3rem 1rem 1rem 1.5rem;
    }

    .bars i{
        font-size: 2rem;
        color: #FFF;
    }

    .logo{
        height: 2.5rem;
        width: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: absolute;
        right: 45%;
        top: 23%;
    }

    .logo a{
        font-size: 30px;
    }

    .search{
        width: 35%;
        height: 2.5rem;
        position: absolute;
        top: 1.1rem;
        right: 0.5rem;
        margin-right: 0;
        margin-left: 0;
    }
    .search input{
        width: 90%;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        background-color: #363636;
        font-family: var(--font-secundary);
        opacity: 0.4;
        color: #fff;
    }
    .search input:hover{
        opacity: 1;
    }
    .search i{
        position: absolute;
        top: 0.3rem;
        font-size: 1rem;
        right: -1.5rem;
    }

    .options-menu{
        display: none;
    }

    .sidebar{
        display: inline-block;
    }
    .list-genre{
        display: none;
    }
    .footer-content{
        font-size: 10px;
        width: 50%;
    }
    .social-media a{
        font-size: 1.5rem;
    }
    .social-media ul{
        margin-right: 43px;
    }
    .card-genre{
        display: inline-block;
        width: 100%;
        
    }
    .section-genre{
        height: 270vh;
    }
    .card{
        width: 60%;
        height: 23%;
        margin: -110px 0px 180px 74px;
    }
    .last-class{
        padding-bottom: 0;
    }
    .card-title{
        left: 7.5rem;
    }
    .description{
        overflow: auto;
        display: inline-block;
    }
    .summary{
        max-width: 100%;
        padding: 1rem 1rem 0 1rem;
    }
    .description-info{
        max-width: 100%;
        padding: 1rem;
    }
    .screen-friends{
        width: 73%;
        left: 13%;
    }
    .screen-brooklyn{
        width: 73%;
        left: 13%;
    }
    .screen-the-flash{
        width: 73%;
        left: 13%;
    }
    .screen-arrow{
        width: 73%;
        left: 13%;
    }
    .post{
        height: 25%;
    }
}
@media screen and (max-width: 320px){
    .logo{
        width: 6rem;
    }
}